 *{
    color: white;
    margin: 0;
    padding: 0;
    font-family: "font-me";
    box-sizing: border-box;
    z-index: 1;
}

@font-face{
    font-family: "font-me";
    src: url(./Resources/Americanatest.ttf);
}

@font-face{
    font-family: "font-two";
    src: url(./Resources/coolvetica\ rg.otf);
}

@font-face{
    font-family: "font-three";
    src: url(./Resources/coolvetica\ condensed\ rg.otf);
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}


header{
    height: 7vh;
    background-color: black;
    -webkit-box-shadow: 0px 5px 22px 7px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 22px 7px rgba(0,0,0,1);
    box-shadow: 0px 5px 22px 7px rgba(0,0,0,1);
    position: fixed;
    z-index: 999;
}

#header-nav {
    width: 100vw;
    display: flex;
    height: 100%;
    justify-content: space-between;
    font-weight: 600;
}

.head-cuerpo{
    width: 100%;
}

.navbar{
    display: flex;
    height: 100%;
}

#logo-NBA{
    width: 65px;
    height: auto;
}

.contacto img{
    width: 50px;
}

ul{
    display: flex;
}

.ul1{
    width: 50%;
}

.ul2-1{
    display: flex;
    width: 50%;
    justify-content: end;
}

.ul2{
    width: 30%;
}

#lista{
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 24px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-size:x-large;
    font-weight: 200;
}

#lista::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
    background: linear-gradient(to top, rgba(55, 255, 20, 0.616) 0%,rgba(1, 133, 1, 0.562), rgba(255, 255, 255, 0) 100%);
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
}

#lista:hover::before {
    transform: translateY(0);
}

#inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.container-text{
    margin: 100px;
    margin-top: 350px;
    width: 50%;
    height:auto;
}

.title h1{
    font-weight: 700;
    font-size: 320%;
    text-shadow: 2px 4px 0px rgba(0,0,0,0.31);
}

.text{
    margin-top: 80px;
}

.text h2{
    font-family: "font-two";
    font-size:x-large;
    font-weight: 100;
    text-shadow: 2px 4px 0px rgba(0,0,0,0.31);
}

.container-img{
    display: flex;
    align-items: end;
    height: 100%;
    width: 35%;
}

.container-img img{
    display: flex;
    width: 100%;
    height: 100%;
}

.campo{
    top: 7%;
    z-index: -1;
    position: absolute;
}

.campo img{
    width: 100vw;
    height: 93vh;
}

#equipo{
    height: auto;
    background: #090909;
    padding-bottom: 150px;
}

.title-equipo{
    padding-top: 80px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: "font-me";
    font-size: xx-large;
}

.title-equipo h1{
    color: rgb(55, 255, 20);
    margin: 0px;
}

.about-team {
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 70px;
}

.about-team h1{
    font-family: "font-three";
    font-size:xx-large ;
    font-weight: 100;
}

.about-team p{
    padding: 15px;
    font-family: "font-three";
    font-size:x-large;
}

span{
    color:  rgb(55, 255, 20) ;
    font-family: "font-three";
    font-size:xx-large ;
}

.title-all{
    padding: 15px;
    border-bottom: solid 1px rgba(55, 255, 20, 0.39);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ancord {
    text-decoration: none;
    color: black;
    position: relative;
    display: flex;
}

#ancord:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 1px rgb(55, 255, 20, 0.61);
    -moz-box-shadow: 0px 0px 13px 1px rgb(55, 255, 20, 0.61);
    box-shadow: 0px 0px 13px 1px rgb(55, 255, 20, 0.61);
    transition: box-shadow 0.3s ease-in-out;
}

#ancord::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: -1;
    transition: box-shadow 0.3s ease-in-out;
}

#ancord:hover::before {
    -webkit-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.61);
    -moz-box-shadow: 0px 0px 13px 1px rgb(55, 255, 20, 0.61);
    box-shadow: 0px 0px 13px 1px rgb(55, 255, 20, 0.61);
}

.milton{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    -moz-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
}

.img-milton, .img-orejon, .img-nico, .img-nehemias{
    display: flex;
}

.img-milton img{
    border-radius: 10px 0px 0px 10px;
    
}

.orejon{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    -moz-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
}

.img-orejon img{
    border-radius: 0px 10px 10px 0px;
}

.nehemias{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    -moz-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
}

.img-nehemias img{
    border-radius: 10px 0px 0px 10px;
}

.nicote{ 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    -moz-box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
    box-shadow: 0px 0px 13px 1px rgba(55, 255, 20, 0.39);
}

.img-nico img{
    border-radius: 0px 10px 10px 0px;
}